.rankingsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.ranking {
    width: 90%;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: navy;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h3 {
    margin-left: .75rem;
    color: navy;
}

img.yachtPhoto {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}