.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    border-top: .1rem solid black;
    margin-top: 1rem;
    padding-top: .5rem;
    width: 100%;
    text-align: center;
}

