.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main_logo {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    width: 30%;
    max-width: 300px;
}

.footer {
    width: 100%;
    text-align: center;
    color: navy;
}

a.footer_small {
    font-size: 15px;
    text-decoration: underline navy;
}

p {
    margin-left: 5rem;
}
