.outerFlowWrapper {
    display: flex;
    flex-direction: column;
}

.innerFlowWrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
}

.primaryFlowView {
    display: flex;
    flex-direction: column;
}

.secondaryFlowView {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 1em;
    margin-top: 2em;
}

.mainYachtImage {
    display: flex;
    width: 100%;
}

.secondaryYachtImage {
    display: flex;
    width: 90%;
}